body {
  text-align: center;
}

div, p {
  height: 100px;
  width: 500px;
  border: 1px solid black;
  margin: auto;
  text-align: center;
  margin-top: 10px;
  /* background-color: rgb(0, 0, 0); */
}

input{
    margin: 20px;
}
